# fly.toml app configuration file generated for my-cycle-monitor-app-client on 2025-11-08T14:07:07Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'my-cycle-monitor-app-client'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8043
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
