name: Deploy to Fly

on:
  push:
    branches:
      - "main"
    paths:
      - "app/**"
      - ".github/workflows/deploy.yml"

jobs:
  deploy:
    name: Deploy to Fly.io
    runs-on: ubuntu-latest
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_TOKEN }}

    defaults:
      run:
        working-directory: app

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install Wasp
        run: curl -sSL https://get.wasp.sh/installer.sh | sh -s -- -v 0.18.1

      - name: Install Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly
        run: wasp deploy fly deploy
